
* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    color: black; 
    font-family: 'Poppins', sans-serif;
}

.parrafo-intro{

    font-size: 1.6rem ;
}

@media (max-width: 480px){

    .parrafo-intro{
        font-size: 1.4rem;
        
    }

}


/* ############################################ index html ######################################### */

.navbar-nav .nav-link{

    font-size: 2rem; /* Ajusta el tamaño según lo necesites */

}


#contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Evita desplazamientos inesperados */
}

#imagen-principal {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa toda la altura */
    object-fit: cover; /* Evita distorsión */
    display: block;
    margin: 1rem;
    object-fit: cover;
}


@media (max-width: 1400px) {
    #contenedor-imagen {
        display: flex;
        justify-content:center;
        align-items:center; 
        width: 80%;
        height: 60%;
        margin: 0 auto; /* Centra el div horizontalmente */


    }
    #imagen-principal {
        width: 100%;
        height: 100%;
    }
}



.seccion {
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: justify; /* Centra verticalmente */
    gap: 1rem; /* Agrega espacio entre los elementos */
    text-align: center; /* Asegura que el texto también esté centrado */
    margin: 1rem; 
}

.header { 

    color:  #75bc31

}

footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background: black;
    color: white;
    margin-top: 5rem;
    width: 100%;
}

@media (max-width: 480px) {
    footer {

        display: block;

    }
}

.footer-element{
    display: block;
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0.5rem;
}

#lista-enlaces-index{
    text-align: left;
    color: #07bed6; 
    font-size: 1.6rem ;
    text-decoration: none;
}

#lista-enlaces-index li a{
    text-decoration: none;
    color: #07bed6; 
}

#lista-enlaces-index li a:hover {
    text-decoration: underline; /* Subraya al pasar el mouse */

}
/* ############################### nosotros.html ################################################         */


.col-md-4 img {
    height: 100%; /* Ocupa toda la altura disponible */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

@media (max-width: 480px){
    #rol-en-empresa{
        font-size: 1.2rem;
    }
}


.fotos-tarjetas{
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 50rem; /* Ajusta la altura deseada */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarla */
}


/* ############################### servicios.html ################################### */

#header-keywords{

    display: flex;
    flex-direction: row; /* Acomoda los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: justify; /* Centra verticalmente */

}

@media (max-width: 480px) {
    #header-keywords {
        flex-direction: column;
    }
}

#blue-word{
    color: #07bed6;
}

#green-word{
    color: #75bc31;
}

/* ############################### contacto.html #################################### */

.letra-azul{
    color: #07bed6
}

.datos-contacto{
    display: flex;
    align-items: center;         /* Alinea los elementos verticalmente */
    margin-left: 2rem;

}

.datos-contacto h2:last-child {
    margin-left: .5rem;
}

@media (max-width: 480px){ 

    .datos-contacto{
        align-items: flex-start;
    }
    .datos-contacto h2{
        font-size: 1.2rem;
        margin-left: 0;
    }
}
    

/* ############################### portafolio.html #################################### */


#enlaces-portafolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 1rem auto;
    flex-wrap: wrap; /* por si se hace muy estrecho */


    background-color: white; 
    position: sticky;
    top: 0; 
    z-index: 1000; 


}

@media (max-width: 768px) {
    #enlaces-portafolio {
        flex-direction: column;
        align-items: center;
        gap: 0.2rem; 
    }
}

#enlaces-portafolio h2 a {
    color: #07bed6 ;
    text-decoration: none;
}

#enlaces-portafolio h2 a:hover {

    color:#75bc31;
    text-decoration: underline; /* Subraya al pasar el mouse */

}

/* diseño responsive de headers de cada seccion */
@media (max-width: 768px) {
    .header-portafolio {
        font-size: 2rem;
    }
}

.portfolio-examples{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;       /* alinea las tarjetas arriba */
    gap: 1rem 4rem;
}


.tarjeta-proyectos {
    width:35rem; 
}

/* diseño responsive de tarjetas de portafolio de proyectos */
@media (max-width: 768px){
    .titulo-tarjeta{

        font-size: 1.6rem;
        
    }
    .portfolio-examples{
        font-size: 1.4rem;
    }
    .tarjeta-proyectos{
        width: 100%; 

    }
}

.section-blue-background{
    background-color: rgb(219, 231, 235);
    padding: 1rem;
}


/* Imagen + texto (lado a lado) */
.poster-paragraph {
  display: flex;
  align-items: center; /* centra verticalmente el texto con la imagen */
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 2rem;
}

.poster-paragraph img {
  width: 40%;     /* ocupa 40% del ancho */
  height: auto;   /* mantiene proporción */
  border-radius: 10px;
}

.poster-paragraph p {
  width: 60%;     /* ocupa el espacio restante */
  text-align: justify;
}

#carouselConferenceFilos {
  height: 80%;
  width: 50%;
  max-width: 900px;
  margin: 20px auto; /* centrado horizontal */
  border-radius: 12px;
  overflow: hidden;
}

#carouselConferenceFilos .carousel-inner {
  height: auto;
  max-height: 80vh; /* limita la altura del carrusel al 80% de la ventana */
}

#carouselConferenceFilos img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* no recorta la imagen */
}

#carouselForoRegional {

    width: 45% ;

}

/*  POR DEFINIR SI SE PONDRÁ O NO */
/* #video-foro-regional{
    display: block;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 2rem auto;
    border-radius: 10px;
} */

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1); /* invierte los colores (de blanco a negro) */
}

.section-green-background{
    background-color: #e5f5d7;
    padding: 1rem;
}

/*  diseño responsive de la sección */

@media (max-width: 768px) {
  .poster-paragraph {
    flex-direction: column; /* apila imagen y texto */
    align-items: center;     /* centra todo horizontalmente */
    gap: 1.5rem;
  }

  .poster-paragraph img {
    width: 90%; /* que ocupe casi todo el ancho disponible */
  }

  .poster-paragraph p {
    width: 90%; /* el texto también se ajusta */
    text-align: justify;
    font-size: 1.2rem;
  }


  /*  CARRUSELES */

   #carouselConferenceFilos, #carouselForoRegional {
    width: 95%;
    max-width: 100%;
    height: auto;
  } 

  .carousel-catalog .carousel-inner {
    max-height: 85vh; /* que casi llene la pantalla sin cortar */
  }

  .carousel-catalog img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* #video-foro-regional{
    width: 100%;
    height: auto;
  } */

}
