
* {
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: white;
    color: black; 
    font-family: 'Poppins', sans-serif;
}

.parrafo-intro{

    font-size: 1.6rem ;
}

@media (max-width: 480px){

    .parrafo-intro{
        font-size: 1.4rem;
        
    }

}


/* ############################################ index html ######################################### */

.navbar-nav .nav-link{

    font-size: 2rem; /* Ajusta el tamaño según lo necesites */

}


#contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Evita desplazamientos inesperados */
}

#imagen-principal {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100%; /* Ocupa toda la altura */
    object-fit: cover; /* Evita distorsión */
    display: block;
    margin: 1rem;
    object-fit: cover;
}


@media (max-width: 1400px) {
    #contenedor-imagen {
        display: flex;
        justify-content:center;
        align-items:center; 
        width: 80%;
        height: 60%;
        margin: 0 auto; /* Centra el div horizontalmente */


    }
    #imagen-principal {
        width: 100%;
        height: 100%;
    }
}



.seccion {
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: justify; /* Centra verticalmente */
    gap: 1rem; /* Agrega espacio entre los elementos */
    text-align: center; /* Asegura que el texto también esté centrado */
    margin: 1rem; 
}

.header { 

    color:  #75bc31

}

footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background: black;
    color: white;
    margin-top: 5rem;
    width: 100%;
}

@media (max-width: 480px) {
    footer {

        display: block;

    }
}

.footer-element{
    display: block;
    margin: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 0.5rem;
}

#lista-enlaces-index{
    text-align: left;
    color: #07bed6; 
    font-size: 1.6rem ;
    text-decoration: none;
}

#lista-enlaces-index li a{
    text-decoration: none;
    color: #07bed6; 
}

#lista-enlaces-index li a:hover {
    text-decoration: underline; /* Subraya al pasar el mouse */

}
/* ############################### nosotros.html ################################################         */

#foto-salva{
    width: 80rem;
    height: 50rem;
}

.header-rol-en-empresa{
    color: #07bed6
}

.col-md-4 img {
    height: 100%; /* Ocupa toda la altura disponible */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}

@media (max-width: 480px){
    #rol-en-empresa{
        font-size: 1.2rem;
    }
}


.fotos-tarjetas{
    width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 50rem; /* Ajusta la altura deseada */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarla */
}


/* ############################### servicios.html ################################### */

#header-keywords{

    display: flex;
    flex-direction: row; /* Acomoda los elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: justify; /* Centra verticalmente */

}

@media (max-width: 480px) {
    #header-keywords {
        flex-direction: column;
    }
}

#blue-word{
    color: #07bed6;
}

#green-word{
    color: #75bc31;
}

/* ############################### contacto.html #################################### */

.datos-contacto{
    display: flex;
    align-items: center;         /* Alinea los elementos verticalmente */
    margin-left: 2rem;

}

.datos-contacto h2:last-child {
    margin-left: .5rem;
}

@media (max-width: 480px){ 

    .datos-contacto{
        align-items: flex-start;
    }
    .datos-contacto h2{
        font-size: 1.2rem;
        margin-left: 0;
    }
}
    

/* ############################### portafolio.html #################################### */



#enlaces-portafolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    margin: 1rem auto;
    flex-wrap: wrap; /* por si se hace muy estrecho */
}

@media (max-width: 768px) {
    #enlaces-portafolio {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

#enlaces-portafolio h2 a {
    color: #07bed6 ;
    text-decoration: none;
}

#enlaces-portafolio h2 a:hover {

    color:#75bc31;
    text-decoration: underline; /* Subraya al pasar el mouse */

}

.portfolio-examples{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;       /* alinea las tarjetas arriba */
    /* align-content: space-around; */
    gap: 1rem 4rem;
}


/* ######################################################################################################### */

.section-blue-background{
    background-color: rgb(219, 231, 235);
    padding: 1rem;
}

/* Imagen + texto (lado a lado) */
.poster-paragraph {
  display: flex;
  align-items: center; /* centra verticalmente el texto con la imagen */
  justify-content: space-evenly;
  gap: 2rem;
  margin-bottom: 2rem;
}

.poster-paragraph img {
  width: 40%;     /* ocupa 40% del ancho */
  height: auto;   /* mantiene proporción */
  border-radius: 10px;
}

.poster-paragraph p {
  width: 60%;     /* ocupa el espacio restante */
  text-align: justify;
}

#carouselConferenceFilos {
  height: 80%;
  width: 50%;
  max-width: 900px;
  margin: 20px auto; /* centrado horizontal */
  border-radius: 12px;
  overflow: hidden;
  background-color: #000; /* fondo neutro */
}

#carouselConferenceFilos .carousel-inner {
  height: auto;
  max-height: 80vh; /* limita la altura del carrusel al 80% de la ventana */
}

#carouselConferenceFilos img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* no recorta la imagen */
  background-color: #000;
}


/*  CREEEO QUE ESTO SE BORRARÁ  */
#posters{
  /* background-color: blue; */
  display: flex;
  justify-content: space-evenly;
  align-items: stretch; /* hace que ambas columnas tengan el mismo alto */
  gap: 0.5rem;
  margin-top: 2rem;
  width: 100%;
}
/*  CREEEO QUE ESTO SE BORRARÁ  */
.stacked-posters{
  /* background-color: red; */
  display: flex;
  flex-direction: column; /* apila las imágenes verticalmente */
  justify-content: space-between; /* reparte el espacio de forma uniforme */
  align-items: stretch;
  gap: 1rem; /* espacio entre las dos imágenes */
  flex: 1; 
  width: 100%;
}


/*  CREEEO QUE ESTO SE BORRARÁ  */

/* Imágenes apiladas */
.stacked-posters img {
  width: 100%;        /* ocupa todo el ancho disponible */
  height: 50%;
  flex: 1;            /* ambas imágenes crecen igual en altura */
  /* object-fit: cover;  recorta suavemente si no encaja */
  border-radius: 10px;
}



/*  CREEEO QUE ESTO SE BORRARÁ  */
/* Solo aplica a la imagen grande fuera del contenedor rojo */
#posters > img {
  flex: 1;
  width: 50%;
  height: auto;
  border-radius: 10px;
  /* object-fit: cover; */
}

/* ######################################################################################### */


#carouselForoRegional {

    max-width: 45% ;

}


.section-green-background{
    background-color: #e5f5d7;
    padding: 1rem;
}


#video-foro-regional{
    display: block;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 2rem auto;
    border-radius: 10px;
}